/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FONDO */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #3aa87a;
  padding: 20px;
}

/* TÍTULO PRINCIPAL */
h1 {
  text-align: center;
  color: black;
  margin-bottom: 15px;
}

/* TEXTO INTRO */
p {
  text-align: center;
  margin-bottom: 15px;
}

/* MENÚ */
nav p {
  text-align: center;
  margin-bottom: 30px;
}

nav a {
  color: #ff3300;
  font-weight: bold;
  text-decoration: none;
}

/* BORDE EXTERIOR (ROJO, TODAS) */
section {
  background-color: white;
  border: 8px solid #ff3300;
  padding: 8px;
  margin: 25px auto;
  width: 95%;
}

/* ===== BORDES INTERIORES DE LAS CAJAS ===== */

/* CAJA 1 y 3 → ROJO */
.imagenuno,
.imagentres {
  border: 6px solid #ff3300;
  padding: 15px;
  overflow: hidden;
}

/* CAJA 2 y 4 → NARANJA */
.imagendos,
.imagencuatro {
  border: 6px solid #ff9900;
  padding: 15px;
  overflow: hidden;
}

/* TÍTULOS DE SECCIÓN */
section h2 {
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
}

/* ===== IMÁGENES ===== */

/* IMAGEN 1 y 3 → ROJO + NARANJA */
.imagenuno img,
.imagentres img {
  float: left;
  border: 6px solid #ff3300;
  padding: 4px;
  background-color: #ff9900;
  margin-right: 15px;
}

/* IMAGEN 2 y 4 → AMARILLO */
.imagendos img,
.imagencuatro img {
  float: right;
  border: 6px solid #ffcc00;
  padding: 4px;
  background-color: #ffff66;
  margin-left: 15px;
}

/* TEXTO */
section p {
  text-align: justify;
  line-height: 1.4;
}
